/*** ALLGEMEIN ***/
* {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #172144;
}
img {
    width: 100%;
}

/**** EXTRAS ****/
::selection {
    background-color: #eee;
}

/**** TEXT ****/
p {
    line-height: 1.6em;
}
a {
    text-decoration: none;
    color: #172144;
}
h1, h2, h3 {
    font-weight: 700;
    line-height: 1.2em;
}
h1 {
    font-size: 1.5em;
}
h2 {
    font-size: 1.25em;
}
h3 {
    font-size: 1.1em;
    line-height: 1.3em;
}
span.bold {
    font-weight: 600;
}
span.txt-right {
    float: right;
}

/**** ROW, WRAPPER, COL ****/
.wrapper {
    width: 1280px;
    margin: 0 auto;
    border: 10px solid #172144;
    border-top: none;
}
.row::after {
    clear: both;
    display: table;
    content: "";
}
.col-33 {
    width: 33.3333%;
    float: left;
}
.col-66 {
    width: 66%;
    float: left;
}
.col-50 {
    width: 50%;
    float: left;
}

/**** HEADER ****/
header {
    background-color: #fff;
    border-bottom: 1px solid #eee;
    position: sticky;
    top: 0;
    border-top: 10px solid #172144;
    z-index: 2;
    box-shadow: 0px -12px 20px rgba(0,0,0,.5);
}
header #logo {
    width: 250px;
    margin-left: calc(50% - 125px);
}

/**** SLIDER ****/
div.slider {
    width: 100%;
    height: 250px;
    background-image: url(../img/slider/slide-1.jpg);
    background-size: 100%;
    background-position: center center;
    animation-name: slider;
    animation-duration: 9s;
    animation-iteration-count: infinite;
}
@keyframes slider {
    0%   {background-image: url(../img/slider/slide-1.jpg);}
    33%   {background-image: url(../img/slider/slide-2.jpg);}
    66%   {background-image: url(../img/slider/slide-3.jpg);}
}

/**** NAVIGATION ****/
nav {
    width: 20%;
    float: left;
    background-color: #fafafa;
    padding-top: 10px;
    position: sticky;
    top: 96.73px;
    height: calc(100vh - 60px);
    z-index: 1;
}
.active {
    font-style: italic;
}
nav li {
    padding: 10px 20px;
    font-weight: 600;
}
nav li ul li {
    font-weight: 400;
}
nav li ul li:nth-child(1) {
    margin-top: 10px;
}

/**** MAIN ****/
main {
    width: 80%;
    float: right;
    padding: 20px;  
}
main h1, main h2 {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #fafafa;
}
main p {
    margin: 10px 0;
}
main .col-33-links {
    padding-right: 13.333px;
}
main .col-33-mitte {
    padding-right: 6.667px;
    padding-left: 6.667px;
}
main .col-33-rechts {
    padding-left: 13.333px;
}
main .col-66-links {
    padding-right: 10px;
}
main .col-66-33-rechts {
    padding-left: 10px;
}
/**** PRODUKTE ****/
article {
    line-height: 1.1em;
}
article img {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #eee;
}
article p.price {
    color: #db344a;
    font-style: italic;
}
article p.sale {
    color: #ffcd1c;
}
article p {
    line-height: .9em;
}

/**** FOOTER ****/
footer {
    background-color: #172144;
    color: #fff;
    text-align: center;
    padding: 10px 0 0 20px;
}
footer .col-33 {
    padding: 20px;
    padding-bottom: 0;
}
footer h3 {
    border-bottom: 1px solid #223166;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
footer a {
    color: #fff;
    padding: 10px;
    line-height: 43px;
}
footer a i:hover { color: #ee757d; }
footer a i.fa-snapchat-ghost:hover { color: #ffe485; }
footer a i.fa-twitter:hover { color: #84b3ff; }
footer a i.fa-facebook-f:hover { color: #4c8ef7; }
footer a i.fa-instagram:hover {	color: #ff84f0; }
footer input[type=email] {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    border: 1px solid #223166;
    background-color: #172144;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    transition: .2s ease-in-out;
    width: calc(100% - 58px);
    margin-right: 10px;
}
footer input[type=email]:focus {
    outline: none;
    background-color: #223166;
}
footer input[type=submit] {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    border: 0;
    border: 1px solid #223166;
    background-color: #223166;
    color: #fff;
    padding: 10px;
    width: 43px;
}
footer input[type=submit]:hover {
    cursor: pointer;
    background-color: #172144;
}
footer input[type=submit]:focus {
    outline: none;
}
footer ::placeholder {
    color: #fff;
    opacity: .25;
}
footer p.copyright {
    padding-top: 20px;
    font-size: .8em;
    opacity: 0.1;
} 

/************** RESPONSIVE **************/

@media (max-width: 1280px) {
    /**** ROW, WRAPPER, COL ****/
    .wrapper {
        width: 100%;
    }
}
@media (max-width: 980px) {
    /**** ROW, WRAPPER, COL ****/
    .col-33,
    .col-50,
    .col-66 {
        width: 100%;
        padding: 0 !important;
    }
}